@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    font-family: 'Lato', sans-serif;
}

#ate_primary_button, #ate_secondary_button, #ate_primary_button_delete, 
#ate_filter_button, #filter {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 3.125rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#ate_secondary_button {
    color: rgba(10, 82, 154, 0.5);
    border: 2px solid rgba(10, 82, 154, 0.5);
}

#ate_primary_button {
    border: none;
    background-color: #00CF86;
}

#ate_primary_button_delete {
    border: none;
    background-color: #FF5300;
}

#ate_disable_button, #filter, #ate_filter_button {
    border: none;
    border-radius: 3.125rem;
    background-color: transparent;
    font-weight: normal;
}

#ate_disable_button {
    font-size: 1.25rem;
    color: #ccddf7;
}

#ate_filter_button {
    background-color: #ccddf7;
    color: #0A529A;
}

.fas {
    margin: 0.5em;
}

.fa-times {
    color: rgba(10, 82, 154, 0.5);
    margin-left: 0.7em;
    margin-top: 0;
    margin-bottom: 0;
}

#filter {
    color: #0A529A;
    font-size: 1.25rem;
}

#ate_sign-in {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3.125rem;
    padding-left: 4em;
    padding-right: 4em;
    color: #000000;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2rem;
}


